<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" fill="clear" shape="round">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Back
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <div class="glassed h-full">
    <!-- ALERT CONGRATULATIONS -->
    <div class="h-head center">
      <ion-col size="12" class="alert-zone center">
        <div class="rotate-scale-up" *ngFor="let alert of alerts">
          {{alert}}
        </div>
      </ion-col>
    </div>

    <div class="h-body center">
      <!-- CARDS VIEW -->
      <ion-col size="12" *ngIf="cards.length > 0" class="center">
        <div
          *ngFor="let singleCard of cards ; let index = index"
          class="blur-in-expand center"
        >
          <div
            class="{{cards.length > 1 ? 'rotate-'+ index : '' }} p-absolute "
          >
            <CardComponent [card]="singleCard" />
          </div>
        </div>
      </ion-col>
    </div>
  </div>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar>
    <ion-button
      (click)="setOption(option)"
      expand="block"
      fill="clear"
      shape="round"
    >
      <ion-icon slot="start" name="reload-outline"></ion-icon>
      Reload
    </ion-button>
  </ion-toolbar>
</ion-footer>
