<ion-header>
  <ion-toolbar>
    <ion-title >Naipes | ionic v7</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-grid class="center glassed ion-padding glass-content">
      <!-- START - OPTIONS BUTTON -->
      <ion-col size="12" class="center">
        <div>
            <ion-button (click)="setOption(1)" class="center ion-padding">
              <ion-icon slot="start" name="magnet-outline"></ion-icon>
              Get 1 Card
            </ion-button>
            <ion-button (click)="setOption(5)" class="center ion-padding">
              <ion-icon slot="start" name="magnet-outline"></ion-icon>
              Get 5 Cards
            </ion-button>
        </div>
      </ion-col>
  </ion-grid>
</ion-content>


